*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// accents
$accent-19:rgb(0, 38, 202, 19%);
$accent-100:#304FFE;
$disable-100:rgba(102, 102, 102, 0.86);

// Olive
$olive-100:#5FD855;
$olive-19:rgb(44, 148, 35, 19%);

// alerts
$alert-100:#FFB800;
$alert-19:rgb(197, 157, 57, 19%);

// error
$error-100:#C73E1D;
$error-19:rgb(199, 62, 29, 19%);

// secondary
$secondary-100:#6c757d;
$secondary-19:rgb(108, 117, 125, 19%);

// dark
$dark:#303030;
$gray:#292929;

// Default theme Exploration

@mixin outline-button{
    color: $dark;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    outline: none;
    max-width: 100%;
    width: auto;
    white-space: nowrap;
}

@mixin standard-button{
    @include outline-button();
}

@mixin disable-outline-button{
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    pointer-events: none;
    text-align: center;
    outline: none;
    background-color: transparent;
    color: $disable-100;
    border: 1px solid $disable-100;
    width: 108px;
    overflow: hidden;
    white-space: nowrap;
}

@mixin  btn-disabled {
    @include  disable-outline-button();
}

@mixin  btn-group {
    display: inline-flex;
    :first-child{
        border-top-right-radius: 0px; 
        border-bottom-right-radius: 0px; 
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
    }
    :last-child{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    :not(:last-child){
        border-radius: 0px;
    }
    
}

@mixin rounded-sys-switch {
    .sys-switch-label {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
    .sys-switch-label input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
      
    .sys-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
      
    .sys-slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
      
    input:checked + .sys-slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    .sys-slider.round {
        border-radius: 34px;
    }
    .sys-slider.round:before {
        border-radius: 50%;
    }
    input:disabled + .sys-slider{
        opacity: .6;
    }
}


// BADGE
@mixin badge{
    padding: 3px 10px;
    width: auto;
    font-size: 13px;
    border-radius: 15px;
    border:1px solid;
}
.sys-pin-outline-badge{
    @include badge;
}
.sys-pin-basic-badge{
    @include badge;
    border:none;
    padding: 5px 11px;
}
.sys-pin-outline-badge i{
    padding: 0;
    margin: 0;
    font-weight: 600;
    letter-spacing: 5px;
}
.badge-accent{
    color:$accent-100;
    border-color: $accent-100;
}
.badge-alert{
    color:$alert-100 ;
    border-color: $alert-100;
}
.badge-olive{
    color:$olive-100 ;
    border-color: $olive-100;
}
.badge-error{
    color: $error-100;
    border-color: $error-100;
}
.badge-secondary{
    color: $secondary-100;
    border-color: $secondary-100;
}

// 

@mixin elevation {
    padding: 1rem;
    border-radius: 4px;
    width: 200px;
    float: left;
    margin: 10px;
    background-color: white;
    .elevation-title{
        color: $dark;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .elevation-content{
        line-height: 20px;
    } 
}

@mixin elevation-dark {
    padding: 1rem;
    border-radius: 4px;
    width: 200px;
    background-color: $gray;
    margin: 10px;
    .elevation-title{
        color:white;
        font-size: 1.5rem;
    }
    .elevation-content{
        color:white;
        line-height: 20px;
    } 
}

.sys-elevation{
    @include elevation();
}

.sys-elevation-v1{
    @include elevation();
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.sys-elevation-v2{
    @include elevation();
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.sys-elevation-v3{
    @include elevation();
    box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
}

.sys-elevation-v4{
    @include elevation();
    box-shadow: 0px 80px 50px -30px rgba(0, 0, 0, 0.15);
}

.sys-elevation-v5{
    @include elevation();
    box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
}



// btn sizing

[size="lg"]{
    width: 130px !important;
    padding: 12px 0px !important;
}

[size="sm"]{
    width: auto !important;
    font-size: x-small;
    padding: 8px 10px !important;
}

.sys-switch-olive{
    @include rounded-sys-switch();
    input:checked + .sys-slider {
        background-color: $olive-100;
    }
}
.sys-switch-accent{
    @include rounded-sys-switch();
    input:checked + .sys-slider {
        background-color: $accent-100;
    }
}

.sys-switch-error{
    @include rounded-sys-switch();
    input:checked + .sys-slider {
        background-color: $error-100;
    }
}
.sys-switch-alert{
    @include rounded-sys-switch();
    input:checked + .sys-slider {
        background-color: $alert-100;
    }
}
.sys-switch-secondary{
    @include rounded-sys-switch();
    input:checked + .sys-slider {
        background-color: $secondary-100;
    }
}

.sys-btn-outline-accent, .sys-btn-outline-alert, .sys-btn-outline-olive, .sys-btn-outline-error, .sys-btn-outline-secondary{
    @include outline-button();
}
.sys-btn-outline-accent{
    border: 1px solid $accent-100;
}
.sys-btn-outline-error{
    border: 1px solid $error-100;
}
.sys-btn-outline-secondary{
    border: 1px solid $secondary-100;
}
.sys-btn-outline-disable{
   @include disable-outline-button(); 
}

.sys-btn-disable{
    @include btn-disabled();
    background-color: #6c757d;
}

// hover state 
.sys-btn-outline-accent:hover{
    background-color: $accent-19;
    box-shadow: 0px 4px 10px -1px $accent-19;
    transition: 0.2s;
}
.sys-btn-outline-accent:focus{
    background-color: $accent-100;
    border: 1px solid white;
    box-shadow: 0px 4px 10px -1px $accent-19;
    transition: 0.2s;
    color: white;
}
.sys-btn-outline-secondary:hover{
    background-color: $secondary-19;
    box-shadow: 0px 4px 10px -1px $secondary-100;
    transition: 0.2s;
}
.sys-btn-outline-secondary:focus{
    background-color: $secondary-100;
    border: 1px solid white;
    box-shadow: 0px 4px 10px -1px $secondary-19;
    transition: 0.2s;
    color: white;
}
.sys-btn-outline-alert{
    border: 1px solid #FFB800;
}
.sys-btn-outline-alert:hover{
    background-color: $alert-19;
    box-shadow: 0px 4px 10px -1px $alert-19;
    transition: 0.2s;
}
.sys-btn-outline-alert:focus{
    background-color: $alert-100;
    border: 1px solid white;
    box-shadow: 0px 4px 10px -1px $alert-19;
    transition: 0.2s;
    color: white;
}
.sys-btn-outline-olive{
    border: 1px solid $olive-100;
}
.sys-btn-outline-olive:hover{
    background-color: $olive-19;
    box-shadow: 0px 4px 10px -1px $olive-19;
    transition: 0.2s;
}
.sys-btn-outline-olive:focus{
    background-color: $olive-100;
    border: 1px solid white;
    box-shadow: 0px 4px 10px -1px $olive-19;
    transition: 0.2s;
    color: white;
}

.sys-btn-outline-error:hover{
    background-color: $error-19;
    box-shadow: 0px 4px 10px -1px $error-19;
    transition: 0.2s;
}
.sys-btn-outline-error:focus{
    background-color: $error-100;
    border: 1px solid white;
    box-shadow: 0px 4px 10px -1px $error-19;
    transition: 0.2s;
    color: white;
}

// button group

.sys-btn-group{
    @include btn-group();
}

// standard button
.sys-btn-accent, .sys-btn-olive, .sys-btn-alert, .sys-btn-error, .sys-btn-secondary{
    @include standard-button();
    border: none;
    color: white;
}

.sys-btn-accent{
    background-color: $accent-100;
}

.sys-btn-olive{
    background-color: $olive-100;
}
.sys-btn-alert{
    background-color: $alert-100;
}
.sys-btn-error{
    background-color: $error-100;
}
.sys-btn-secondary{
    background-color: $secondary-100;
}

.sys-btn-accent:hover{
    background-color: $accent-19;
    box-shadow: 0px 4px 10px -1px $accent-19;
    transition: 0.2s;
    border: 1px solid $accent-100;
}
.sys-btn-accent:focus{
    background-color: $accent-100;
    border: 1px solid white;
    box-shadow: 0px 4px 10px -1px $accent-19;
    transition: 0.2s;
    color: white;
}

.sys-btn-alert:hover{
    background-color: $alert-19;
    box-shadow: 0px 4px 10px -1px $alert-19;
    transition: 0.2s;
    border: 1px solid $alert-100;
}
.sys-btn-alert:focus{
    background-color: $alert-100;
    border: 1px solid white;
    box-shadow: 0px 4px 10px -1px $alert-19;
    transition: 0.2s;
    color: white;
}

.sys-btn-olive:hover{
    background-color: $olive-19;
    box-shadow: 0px 4px 10px -1px $olive-19;
    transition: 0.2s;
    border: 1px solid $olive-100;
}
.sys-btn-olive:focus{
    background-color: $olive-100;
    border: 1px solid white;
    box-shadow: 0px 4px 10px -1px $olive-19;
    transition: 0.2s;
    color: white;
}

.sys-btn-error:hover{
    background-color: $error-19;
    box-shadow: 0px 4px 10px -1px $error-19;
    transition: 0.2s;
    border: 1px solid $error-100;
}
.sys-btn-error:focus{
    background-color: $error-100;
    border: 1px solid white;
    box-shadow: 0px 4px 10px -1px $error-19;
    transition: 0.2s;
    color: white;
}

.sys-btn-secondary:hover{
    background-color: $secondary-19;
    box-shadow: 0px 4px 10px -1px $secondary-19;
    transition: 0.2s;
    border: 1px solid $secondary-100;
}
.sys-btn-secondary:focus{
    background-color: $secondary-100;
    border: 1px solid white;
    box-shadow: 0px 4px 10px -1px $secondary-19;
    transition: 0.2s;
    color: white;
}

// dark theme eploraton
.dark-theme{
    background-color: $dark;
    color: white;
    @mixin dark-outline-button{
        color: white;
    }
    .sys-btn-outline-accent, .sys-btn-outline-alert, .sys-btn-outline-olive, .sys-btn-outline-error, .sys-btn-outline-secondary{
        @include dark-outline-button();
    }
    .sys-btn-outline-accent{
        border: 1px solid $accent-100;
    }
    // hover state 
    .sys-btn-outline-accent:hover{
        background-color: $accent-19;
        box-shadow: 0px 4px 10px 0px $accent-19;
        transition: 0.2s;
    }
    .sys-btn-outline-accent:focus{
        background-color: $accent-100;
        border: 1px solid white;
        box-shadow: 0px 4px 10px 0px $accent-19;
        transition: 0.2s;
        color: white;
    }
    .sys-btn-outline-alert{
        border: 1px solid #FFB800;
    }
    .sys-btn-outline-alert:hover{
        background-color: $alert-19;
        box-shadow: 0px 4px 10px 0px $alert-19;
        transition: 0.2s;
    }
    .sys-btn-outline-alert:focus{
        background-color: $alert-100;
        border: 1px solid white;
        box-shadow: 0px 4px 10px 0px $alert-19;
        transition: 0.2s;
        color: white;
    }
    .sys-btn-outline-olive{
        border: 1px solid $olive-100;
    }
    .sys-btn-outline-olive:hover{
        background-color: $olive-19;
        box-shadow: 0px 4px 10px 0px $olive-19;
        transition: 0.2s;
    }
    .sys-btn-outline-olive:focus{
        background-color: $olive-100;
        border: 1px solid white;
        box-shadow: 0px 4px 10px 0px $olive-19;
        transition: 0.2s;
        color: white;
    }


    // elevation

    
    .sys-elevation{
        @include elevation-dark();
    }

    .sys-elevation-v1{
        @include elevation-dark();
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    }

    .sys-elevation-v2{
        @include elevation-dark();
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .sys-elevation-v3{
        @include elevation-dark();
        box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
    }

    .sys-elevation-v4{
        @include elevation-dark();
        box-shadow: 0px 80px 50px -30px rgba(0, 0, 0, 0.15);
    }

    .sys-elevation-v5{
        @include elevation-dark();
        box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
    }

}