* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[size=lg] {
  padding: 12px 32px !important;
}

[size=sm] {
  padding: 10px 8px !important;
}

.sys-btn-outline-accent, .sys-btn-outline-alert, .sys-btn-outline-olive, .sys-btn-outline-error, .sys-btn-outline-secondary {
  color: #000000;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  outline: none;
}

.sys-btn-outline-accent {
  border: 1px solid #304FFE;
}

.sys-btn-outline-error {
  border: 1px solid #C73E1D;
}

.sys-btn-outline-secondary {
  border: 1px solid #6c757d;
}

.sys-btn-outline-disable {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  pointer-events: none;
  text-align: center;
  outline: none;
  background-color: transparent;
  color: rgba(102, 102, 102, 0.86);
  border: 1px solid rgba(102, 102, 102, 0.86);
}

.sys-btn-outline-accent:hover {
  background-color: rgba(0, 38, 202, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(0, 38, 202, 0.19);
  transition: 0.2s;
}

.sys-btn-outline-accent:focus {
  background-color: #304FFE;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(0, 38, 202, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-outline-secondary:hover {
  background-color: rgba(108, 117, 125, 0.19);
  box-shadow: 0px 4px 10px -1px #6c757d;
  transition: 0.2s;
}

.sys-btn-outline-secondary:focus {
  background-color: #6c757d;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(108, 117, 125, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-outline-alert {
  border: 1px solid #FFB800;
}

.sys-btn-outline-alert:hover {
  background-color: rgba(197, 157, 57, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(197, 157, 57, 0.19);
  transition: 0.2s;
}

.sys-btn-outline-alert:focus {
  background-color: #FFB800;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(197, 157, 57, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-outline-olive {
  border: 1px solid #5FD855;
}

.sys-btn-outline-olive:hover {
  background-color: rgba(44, 148, 35, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(44, 148, 35, 0.19);
  transition: 0.2s;
}

.sys-btn-outline-olive:focus {
  background-color: #5FD855;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(44, 148, 35, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-outline-error:hover {
  background-color: rgba(199, 62, 29, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(199, 62, 29, 0.19);
  transition: 0.2s;
}

.sys-btn-outline-error:focus {
  background-color: #C73E1D;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(199, 62, 29, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-accent, .sys-btn-olive, .sys-btn-alert, .sys-btn-error, .sys-btn-secondary {
  color: #000000;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
  color: white;
}

.sys-btn-accent {
  background-color: #304FFE;
}

.sys-btn-olive {
  background-color: #5FD855;
}

.sys-btn-alert {
  background-color: #FFB800;
}

.sys-btn-error {
  background-color: #C73E1D;
}

.sys-btn-secondary {
  background-color: #6c757d;
}

.sys-btn-accent:hover {
  background-color: rgba(0, 38, 202, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(0, 38, 202, 0.19);
  transition: 0.2s;
  border: 1px solid #304FFE;
}

.sys-btn-accent:focus {
  background-color: #304FFE;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(0, 38, 202, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-alert:hover {
  background-color: rgba(197, 157, 57, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(197, 157, 57, 0.19);
  transition: 0.2s;
  border: 1px solid #FFB800;
}

.sys-btn-alert:focus {
  background-color: #FFB800;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(197, 157, 57, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-olive:hover {
  background-color: rgba(44, 148, 35, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(44, 148, 35, 0.19);
  transition: 0.2s;
  border: 1px solid #5FD855;
}

.sys-btn-olive:focus {
  background-color: #5FD855;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(44, 148, 35, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-error:hover {
  background-color: rgba(199, 62, 29, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(199, 62, 29, 0.19);
  transition: 0.2s;
  border: 1px solid #C73E1D;
}

.sys-btn-error:focus {
  background-color: #C73E1D;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(199, 62, 29, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-secondary:hover {
  background-color: rgba(108, 117, 125, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(108, 117, 125, 0.19);
  transition: 0.2s;
  border: 1px solid #6c757d;
}

.sys-btn-secondary:focus {
  background-color: #6c757d;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(108, 117, 125, 0.19);
  transition: 0.2s;
  color: white;
}

.dark-theme {
  background-color: #000000;
  color: white;
}
.dark-theme .sys-btn-outline-accent, .dark-theme .sys-btn-outline-alert, .dark-theme .sys-btn-outline-olive, .dark-theme .sys-btn-outline-error, .dark-theme .sys-btn-outline-secondary {
  color: white;
}
.dark-theme .sys-btn-outline-accent {
  border: 1px solid #304FFE;
}
.dark-theme .sys-btn-outline-accent:hover {
  background-color: rgba(0, 38, 202, 0.19);
  box-shadow: 0px 4px 10px 0px rgba(0, 38, 202, 0.19);
  transition: 0.2s;
}
.dark-theme .sys-btn-outline-accent:focus {
  background-color: #304FFE;
  border: 1px solid white;
  box-shadow: 0px 4px 10px 0px rgba(0, 38, 202, 0.19);
  transition: 0.2s;
  color: white;
}
.dark-theme .sys-btn-outline-alert {
  border: 1px solid #FFB800;
}
.dark-theme .sys-btn-outline-alert:hover {
  background-color: rgba(197, 157, 57, 0.19);
  box-shadow: 0px 4px 10px 0px rgba(197, 157, 57, 0.19);
  transition: 0.2s;
}
.dark-theme .sys-btn-outline-alert:focus {
  background-color: #FFB800;
  border: 1px solid white;
  box-shadow: 0px 4px 10px 0px rgba(197, 157, 57, 0.19);
  transition: 0.2s;
  color: white;
}
.dark-theme .sys-btn-outline-olive {
  border: 1px solid #5FD855;
}
.dark-theme .sys-btn-outline-olive:hover {
  background-color: rgba(44, 148, 35, 0.19);
  box-shadow: 0px 4px 10px 0px rgba(44, 148, 35, 0.19);
  transition: 0.2s;
}
.dark-theme .sys-btn-outline-olive:focus {
  background-color: #5FD855;
  border: 1px solid white;
  box-shadow: 0px 4px 10px 0px rgba(44, 148, 35, 0.19);
  transition: 0.2s;
  color: white;
}/*# sourceMappingURL=style.css.map */