.sys-grid{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;

    .col-md-2{
        width: 50%;
    }
    .col-md-3{
        width: 33.333%;
    }
    .col-md-4{
        width: 25%;
    }
    .col-md-5{
        width: 20%;
    }
    .col-md-6{
        width: 16%;
    }
    .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6{
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        margin: 0.5rem 0;
    }
}

.sys-row:after{
    content: '';
    display: table;
    clear: both;
}
.sys-row{
    .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6{
        float: left;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        margin: 0.5rem 0;
    }
    .col-md-2{
        width: 50%;
    }
    .col-md-3{
        width: 33%;
    }
    .col-md-4{
        width: 24%;
    }
    .col-md-5{
        width: 20%;
    }
    .col-md-6{
        width: 16%;
    }
}