.sys-container{
    width: 1190px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.sys-container-sm {
    width: 1070px;
    margin: 0 auto;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.sys-container-lg {
    width: 1250px;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


.sys-container-xl {
    width: 1270px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media(max-width: 940px){
    .sys-container, .sys-container-xl, .sys-container-lg, .sys-container-sm {
        width: 95%;
        margin: 0 auto;
    }
}