$color-warning:orange;
$color-default:white;
$color-dark:black;

.sys-theme-dark{
    background-color: $color-dark;
    color: $color-default;
}

@mixin btn-warning{
    background-color: $color-warning;
    color: $color-default;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    a{
        text-decoration: none;
    }
}

.sys-btn-warning{
    @include btn-warning;
}
.sys-btn-warning:hover{
    box-shadow: 0px 8px 11px 1px #ffa5003b;
}
// defaut theme theme

.sys-btn-warning:focus{
    transition: 0.4s;
    background-color: #ff6900;
    border: 1px solid white;
}

// dark theme
.sys-theme-dark{
    .sys-btn-warning:hover{
        box-shadow: 0px 2px 14px 3px #ffa500b3;
    }
    .sys-btn-warning:focus{
        transition: 0.4s;
        background-color: #ff6900;
        border: 1px solid white;
    }
}