@use "../variables/variable";

.h1, h1{font-size: 2.5rem;}
.h2, h2{font-size: 2rem;}
.h3, h3{font-size: 1.75rem;}
.h4, h4{font-size: 1.5rem;}
.h5, h5{font-size: 1.25rem;}
.h6, h6{font-size: 1rem;}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    margin-bottom: 0;
    line-height: 1.4;
    font-family: null;
}

// lead
.lead{
    font-size: 1.25rem;
    font-weight: 300;
    color: variable.$secondary-75;
}


// text initialization
.caps{
    text-transform: capitalize;
}
.lowercase{
    text-transform: lowercase;
}
.uppercase{
    text-transform: uppercase;
}

// text weight

.text-bold{
    font-weight: 800;
}
.text-light{
    font-weight: 100;
}

// text decorationwWW
.text-underline{
    text-decoration: underline;
}
.text-dotted{
    text-decoration: dotted;
}
.text-dashed{
    text-decoration: dashed;
}
.text-overline{
    text-decoration: overline;
}
.text-linethrough{
    text-decoration: line-through;
}
.text-solid{
    text-decoration: solid;
}

a{
   text-decoration: null;
   color: variable.$accent-75;
}
p{
    margin-bottom: 1rem;
    line-height: 1.2;
}

ol, ul, dl{
    padding-left: 2rem;
    margin-bottom: 1rem;
    line-height: 1.3;
}

// DISPLAY FONTS SIZES

.display-1{
    font-size: 5rem;
    font-weight: 100;
}