
// accents
$accent-19:rgb(0, 38, 202, 19%);
$accent-100:#000075;
$accent-90:rgb(0, 0, 209, 90%);
$accent-85:rgb(0, 0, 209, 85%);
$accent-80:rgb(0, 0, 209, 80%);
$accent-75:rgb(0, 0, 209, 75%);
$accent-70:rgb(0, 0, 209, 70%);
$accent-65:rgb(0, 0, 209, 65%);
$accent-60:rgb(0, 0, 209, 60%);

// Olive
$olive-100:#5FD855;
$olive-90:rgb(95, 216, 85, 90%);
$olive-85:rgb(95, 216, 85, 85%);
$olive-80:rgb(95, 216, 85, 80%);
$olive-75:rgb(95, 216, 85, 75%);
$olive-70:rgb(95, 216, 85, 70%);
$olive-65:rgb(95, 216, 85, 65%);
$olive-60:rgb(95, 216, 85, 60%);
$olive-19:rgb(44, 148, 35, 19%);

// alerts
$alert-100:#FFB800;
$alert-90:rgb(255, 184, 0, 90%);
$alert-85:rgb(255, 184, 0, 85%);
$alert-80:rgb(255, 184, 0, 80%);
$alert-75:rgb(255, 184, 0, 75%);
$alert-70:rgb(255, 184, 0, 70%);
$alert-65:rgb(255, 184, 0, 65%);
$alert-60:rgb(255, 184, 0, 60%);
$alert-19:rgb(197, 157, 57, 19%);


// error
$error-100:#C73E1D;
$error-90:rgb(199, 62, 29, 90%);
$error-85:rgb(199, 62, 29, 85%);
$error-80:rgb(199, 62, 29, 80%);
$error-75:rgb(199, 62, 29, 75%);
$error-70:rgb(199, 62, 29, 70%);
$error-65:rgb(199, 62, 29, 65%);
$error-60:rgb(199, 62, 29, 60%);

$error-19:rgb(199, 62, 29, 19%);

// secondary
$secondary-100:#6c757d;
$secondary-90:rgb(108, 117, 125, 90%);
$secondary-85:rgb(108, 117, 125, 85%);
$secondary-80:rgb(108, 117, 125, 80%);
$secondary-75:rgb(108, 117, 125, 75%);
$secondary-70:rgb(108, 117, 125, 70%);
$secondary-65:rgb(108, 117, 125, 65%);
$secondary-60:rgb(108, 117, 125, 60%);

// dark
$dark:#303030;
$dark-90:rgb(48, 48, 48, 90%);
$dark-85:rgb(48, 48, 48, 85%);
$dark-80:rgb(48, 48, 48, 80%);
$dark-75:rgb(48, 48, 48, 75%);
$dark-70:rgb(48, 48, 48, 70%);
$dark-65:rgb(48, 48, 48, 65%);
$dark-60:rgb(48, 48, 48, 60%);

$gray:#292929;
$disable-100:rgba(102, 102, 102, 0.86);
$light-100:#ffffff;
$dark-100:#303030;
