
// accents
$accent-19:rgb(0, 38, 202, 19%);
$accent-100:#304FFE;
$disable-100:rgba(102, 102, 102, 0.86);
$light-100:#ffffff;
$dark-100:#303030;

// Olive
$olive-100:#5FD855;
$olive-19:rgb(44, 148, 35, 19%);

// alerts
$alert-100:#FFB800;
$alert-19:rgb(197, 157, 57, 19%);

// error
$error-100:#C73E1D;
$error-19:rgb(199, 62, 29, 19%);

// secondary
$secondary-100:#6c757d;
$secondary-19:rgb(108, 117, 125, 19%);

// dark
$dark:#303030;
$gray:#292929;